html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  max-width: 80vmin;
  margin: 25px auto;
}

h1 {
  font-family: 'Lobster', serif;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1px;
  padding-top: 30px;
  padding-bottom: 15px;
}

p {
  margin-top: 5px;
}

#circle,
#cross {
  width: 1em;
  filter: invert(100%);
}

.navigation__home {
  border: none;
  background-color: #1fcca4;
  border-radius: 5px;
  padding: 20px 10px 10px 10px;
  margin-right: 5px;
}

.navigation_restart {
  border: none;
  background-color: #0197f6;
  border-radius: 5px;
  padding: 20px 10px 10px 10px;
  margin-top: 60px;
}

.headline {
  display: flex;
  justify-content: space-between;
}

.headline__player {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
}

.table {
  margin: 10px auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 80vmin;
  width: 80vmin;
  border: 1px solid black;
}

.table__item {
  margin: 0;
  padding: 0;
  flex: 0 0 calc(100% / 10);
  height: 8vmin;
  border: 1px solid black;
  background-color: lightpink;
  cursor: pointer;
  opacity: 0.5;
}

.table__item:hover,
.table__item:active,
.table__item:focus {
  opacity: 0.8;
}

.board__field--circle {
  background-image: url(imiges/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  animation-name: bounce;
  animation-duration: 0.15s;
}

.board__field--cross {
  background-image: url(imiges/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  animation-name: bounce;
  animation-duration: 0.15s;
}

@keyframes bounce {
  from {
    background-size: 0;
  }
  to {
    background-size: 100%;
  }
}
