html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  color: white;
}

.main {
  background-color: #283e50;
  width: 340px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 6px 6px 0px 0px;
  margin: 100px auto;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1px;
}

p {
  text-align: center;
  padding: 0px 15px 15px 15px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 14px 30px;
}

.rules {
  background-color: #1fcca4;
  text-align: center;
}
.rules:hover,
.rules:active,
.rules:focus {
  background-color: #1cbb96;
}

.start {
  background-color: #0197f6;
  border-top: 1px solid black;
  text-align: center;
}

.start:hover,
.start:active,
.start:focus {
  background-color: #0090e9;
}
