html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  color: white;
}

.main {
  background-color: #283e50;
  width: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 6px 6px 0px 0px;
  margin: 100px auto;
}

h1 {
  font-family: 'Lobster', serif;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1px;
  padding-top: 30px;
}

img {
  width: 100%;
}

figcaption {
  padding-bottom: 30px;
  padding-top: 5px;
  text-align: center;
}

#cross,
#circle {
  width: 1em;
  filter: invert(100%);
}

li {
  text-align: left;
  padding: 0px 25px 15px 15px;
  margin: 0 20px 0 20px;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 14px 30px;
}

.rules {
  background-color: #1fcca4;
  text-align: center;
}
.rules:hover,
.rules:active,
.rules:focus {
  background-color: #1cbb96;
}

.start {
  background-color: #0197f6;
  border-top: 1px solid black;
  text-align: center;
}

.start:hover,
.start:active,
.start:focus {
  background-color: #0090e9;
}

@media (min-width: 540px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }

  figure {
    width: calc((100% - 150px) / 2);
    flex-wrap: wrap;
    text-align: center;
  }

  img {
    display: flex;
    width: 100%;
  }
}

@media (min-width: 960px) {
  figure {
    flex-wrap: wrap;
  }
  img {
    width: calc ((100 - 150px) / 2);
  }
}
